<!DOCTYPE html>
<body>
  <link rel="stylesheet" href="stil.css">
  <br>
  <div class="row">
    <div class="column">
      <img src="Imagini/mybest/fly.jpg" alt="Snow" style="width:80%">
      <div class="overlay">Aventuri</div>
    </div>
    <div class="column">
      <img src="Imagini/Carti/segaflori.jpg" alt="Forest" style="width:80%">
      <div class="overlay">Carti</div>
    </div>
    <div class="column">
      <img src="Imagini/Film/miracolul7.jpg" alt="Mountains" style="width:80%">
      <div class="overlay">Filme</div>
    </div>
  </div>
</body>
   
