<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<div class="header">
  <h2>Aventurescu</h2>
</div>
<br><br>

    
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Povestitorul de Jodi Picoult</h2>
      <h5> Jun 1, 2020</h5>
      <img class="fakeimg" src="Imagini/Grand Marais/storytelller.jpg" alt="casuta"  style="height:400px; width:500px;">
      <p>„Povestitorul” este o carte despre cel de Al Doilea Război Mondial, despre suferințele îndurate de evrei în ghetouri și, mai apoi, în lagărele de concentrare, unde nemții îi tratează ca pe o specie aparte, aflată mult chiar și sub aceea de animal. Este dureros să le urmărești parcursul și să te plasezi într-o Polonie a nedreptății, a rasismului și a lipsei de empatie față de niște ființe umane.<span id="dots">...</span><span id="more"> Observi cu ochii în lacrimi cum o întreagă națiune este distrusă, cum un om îi face rău altui om și încerci să nu îți ferești privirea asemeni multor altora și să înveți ceva dintr-o istorie a suferinței. Mulți tac oricum, pentru că sunt evenimente care au avut loc într-un alt secol, într-o altă epocă, refuzând să recunoască un fapt dureros: în unele zone ale lumii, încă există astfel de atrocități comise de unii oameni împotriva altor oameni, doar pentru că pot, doar pentru că se cred superior altor ființe umane. Cartea asta pur și simplu taie în carne vie și e greu să te recompui odată ce închizi ultima pagină. Găsești atât perspectiva celui abuzat, cât și pe cea a abuzatorului și, oricât ai încerca să îi găsești o scuză și să ierți, îți dai seama că acest lucru este imposibil, atât timp cât omul care a comis atât de multe atrocități, răspândind teroare în jurul său, nu simte niciun fel de remușcare, niciun fel de regret, ci doar vrea să își ușureze conștiința, transferându-și vina asupra ta<span></span></p>
     
    <button onclick="myFunction()" id="myBtn">Mai mult</button>
    
    <div class="card">
      <h2>Namaste de Sega</h2>
      <h5> Mai 8, 2017</h5>
      <img class="fakeimg" src="Imagini/Carti/segaflori.jpg" alt="casuta"  style="height:400px; width:500px;">
    
      <p>Namaste este jurnalul a doua calatorii simultane – una in India si alta in sine insusi –, pe care un tanar le initiaza intr-un moment de cotitura a vietii, cand, dupa cautari febrile, dar sterile ale adevarului personal, isi indeasa toate intrebarile intr-un rucsac si porneste sa le gaseasca raspunsuri pe alte meleaguri.<span id="dots">...</span><span id="more">Drumul pana in inima Indiei asterne dinaintea calatorului Sega peisaje naturale de un farmec luxuriant si peisaje umane pitoresti pana la bizarerie si se opreste in ashramul lui Osho din Pune – o oaza de calm, cel putin in aparenta, in mijlocul unei lumi dezlantuite. Aici, intre doua sesiuni de meditatie pe muzica asurzitoare ori in intuneric ca smoala, Sega are parte de fapt de adevarata aventura indiana: descopera un caleidoscop intreg de personaje exotice si povestile lor de viata, delicioasele mancaruri locale cu nume imposibil de pronuntat, aroma inconfundabila a ceaiului masala, farmecul femeii asiatice si forta regeneratoare a chatarsisului.</span></p>
        <button onclick="myFunction()" id="myBtnn">Read more</button>
    </div>
  </div>
   
  </div>
</div>
<br><br>

</body>
</html>
