<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>

<div class="header">
  <h2>Aventurescu</h2>
</div>
<br><br>
    
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Blindness</h2>
      <h5> Jan, 2020</h5>
      <img class="fakeimg" src="Imagini/Film/calauza.png" alt="casuta"  style="height:400px; width:500px;">
      <p>Ca toate filmele cu scenarii pandemice, Blindness respectă structura clasică: un om are o problemă, mai mulți oameni au aceeași problemă, prea mulți oameni au aceeași problemă, oh! e contagios, guvernul intervine, izolare. Dar autoritățile îs formate tot din oameni cu aceleași vulnerabilități fizice și psihice ca ale noastre.<span id="dots">...</span><span id="more"> Ce se întâmplă când cei care au rolul de a te ghida și a te vindeca devin parte din tabăra bolnavilor? Natura umană se întâmplă, iar ea e al naibii de complicată fiindcă suntem o specie tare obraznică. Ce fac oamenii obraznici în absența unor reguli clare și universal acceptate pentru binele comun? Își creează propriile reguli, adică haos. Când haosul pune stăpânire pe o situație există puține soluții la fel de eficiente ca oamenii ăia mai echilibrați decât restul, care-și însușesc, cu sau fără voia lor, rolul de călăuză.</span></p>
     
    <button onclick="myFunction()" id="myBtn">Mai mult</button>
    
    <div class="card">
      <h2>Miracolul din celula 7</h2>
      <h5> Mai 1, 2020</h5>
      <img class="fakeimg" src="Imagini/Film/miracolul7.jpg" alt="casuta"  style="height:400px; width:500px;">
    
      <p>Dacă ai tendința să-l judeci pentru că e un film turcesc, ei bine să știi că se îndepărtează de filmele clasice turcești. E mult mai mult decât un film de tip telenovelă turcească.Miracol în celula 7 este un film plin de emoție, care surprinde una dintre cele mai frumoase povești de iubire dintre un tată și o fiică.<span id="dots">...</span><span id="more"> O legătură puternică care nu poate fi ruptă nici de distanță, nici de problemele de sănătate, nici de legislația autoritară din perioada respectivă din Turcia, nici de nimic. E o iubire de tată-fiică care rupe toate barierele societății.</span></p>
        <button onclick="myFunction()" id="myBtnn">Mai mult</button>
    </div>
  </div>
   
  </div>
</div>
<br><br>

</body>
</html>
